//@import "~swiper/sw";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}

/*뒤로가기 버튼*/
.backBtn{
  font-size: 30px;
  //margin-left: 10px;
  //margin-top: 10px;
  position: absolute;
  top: 10px;
  left:10px;
  z-index: 10;
  color: white;

}


/*이미지 위에 정보*/
.detailsImage{
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 10;
  //background-color: rgba(0, 0, 0, 0.5); /* 텍스트 배경을 반투명하게 */
  padding: 5px 10px;
}


/*포스터 위 영화정보*/
.movieTitle{
  color: white;
  font-size: 43px;
  font-weight: 800;
  text-shadow: 2px 2px 0px rgba(21, 21, 21, 0.6), /* 검정색 테두리 */
  0px 0px 5px rgba(55, 55, 55, 0.5), /* 중앙에 부드러운 그림자 */
  0px 0px 10px rgba(28, 28, 28, 0.4), /* 더 흐릿한 그림자 */
  0px 0px 15px rgba(0, 0, 0, 0.3); /* 가장 흐릿한 그림자 */
}

.detailIn{
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-shadow: 2px 2px 0px rgba(21, 21, 21, 0.7), /* 검정색 테두리 */
  0px 0px 5px rgba(55, 55, 55, 0.7), /* 중앙에 부드러운 그림자 */
  0px 0px 10px rgba(28, 28, 28, 0.5), /* 더 흐릿한 그림자 */
  0px 0px 15px rgba(0, 0, 0, 0.3); /* 가장 흐릿한 그림자 */
}

/*별 묶음 div*/
.star {
  text-align: center; /* 가운데 정렬 */
  margin-top: 10px; /* 위쪽 마진 */
}
/*별 아이콘*/
.star ion-icon {
  font-size: 40px; /* 아이콘 크기 */
  color: #e4e4e4;
  margin: 0 5px; /* 아이콘 사이 여백 */
  transition: transform 0.2s /* 애니메이션 효과 */
}
/*별 hover시*/
.star ion-icon:hover {
  transform: scale(1.2); /* 호버 시 확대 효과 */
  cursor: pointer; /* 마우스 커서 변경 */
}

.평가하기 {
  color: grey;
  font-size: 12px;
}


/*보고싶어요, 평점, 관심없어요*/
.detail-col-want {
  display: flex;
  color: grey;
  flex-direction: column; /* 아이콘과 텍스트를 수직으로 정렬 */
  align-items: center; /* 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}
.detail-col{
  display: flex;
  flex-direction: column; /* 아이콘과 텍스트를 수직으로 정렬 */
  align-items: center; /* 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  color:grey;
}

.detail-col ion-icon, .detail-col-want ion-icon{
  font-size: 40px; /* 아이콘 크기 조정 */
  margin-bottom: 8px; /* 아이콘과 텍스트 간의 간격 조정 */
}

.text {
  font-size: 14px; /* 텍스트 크기 조정 */
  color: #000; /* 텍스트 색상 */
}

hr {
  border: none;
  border-top: 0.5px solid #dcdcdc;
  border-radius: 5px;
  margin: 10px auto;
  width: calc(100% - 30px);
}

.summ{
  display: block; //블록레벨 요소로 변경.
  font-weight: normal;
  color: #000;
  margin-left:20px;
}
.summary {
  color: #000;
  display: block; //블록레벨 요소로 변경.
  padding: 10px;
  margin-left: 10px;
  line-height: 1.5;
}

.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: min(60%, 240px);
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 50px;
}

.person{
  h3{
    font-size: 14px;
    color: grey;
  }
  p {
    font-size:19px;
    color: #000;
  }
}

/*인물 프로필*/
.person ion-avatar {
  width: 50px; /* 아바타의 너비를 200px로 설정 */
  height: 50px; /* 아바타의 높이를 200px로 설정 */
}
/*마스크 안 이미지*/
.person ion-avatar img {
  width: 100%;  /* 이미지가 아바타 크기에 맞춰지도록 설정 */
  height: 100%; /* 이미지가 아바타 크기에 맞춰지도록 설정 */
  object-fit: cover; /* 비율을 유지하면서 아바타 영역을 채우도록 설정 */
  border-radius: 10%; /* 이미지가 원형으로 유지되도록 설정 */
}

.personTitle{
  margin-left: 13px;
  padding-bottom: 10px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  display: block;

}




.comment-베테랑2{
  display: block;
  padding-left: 8px;
  margin-bottom: 10px;
}
/*코멘트 글*/
.comment ion-label{
  display: block;
  padding-left: 10px;
}
.comment {
  margin-left: 9px; /* 각 p 요소에 대해 왼쪽 여백 추가 */
  text-align: left;  /* 텍스트는 그대로 왼쪽 정렬 */
  line-height: 1.5;  /* 텍스트 가독성 향상 */
}

//ion-list{
//  margin:20px 10px 10px 10px;
//}

.comment_profile
{
  display: flex;
  margin-left:8px;
  align-items: center;
}

.comment_profile ion-label{
  margin-left: 8px;
}

ion-avatar {
  width: 30px;
  height: 30px;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-card {
  margin-top: 0;
}

.commentTitle{
  margin-left: 13px;
  margin-top:22px;
  padding-bottom: 10px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  display: block;

}

.commentCount {
  margin-left: 8px; /* 코멘트와 숫자 사이 간격 */
  padding-top:10px;
  font-size: 14px;
  color:#db4a2b;
}

.comment-container {
  margin-top:30px;
  display: flex;
  align-items: center; /* 두 요소를 수직으로 가운데 정렬 */
}

/*버튼들*/
.text-button{
  color: #db4a2b;
  margin-right: 8px;
}

.moreComment{
  color: #db4a2b;
  margin-left: auto;
  padding-right: 15px;
  padding-top:10px;
  cursor: pointer;
}

//ion-card{
//  --background: black;
//}

.card-color{
  background-color: #db4a2b;
}
.heart {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;  /* 이미지와의 간격을 설정 */
}

.heart ion-icon {
  font-size: 38px;  /* 하트 아이콘의 크기를 조정 */
  color: #ededed;  /* 아이콘 색상 */
}

.rate_star{
  color:gold;
  font-size: larger;
}
.rate_num{
  color: white;
  font-size: larger;
}
/*갤러리 내 이미지*/
.gallery_img{
  margin: 0 20px 0 20px;
  display: flex;
  //justify-content: space-between; /* 이미지 간 간격 조정 */
  gap: 10px; /* 이미지 사이의 여백 */
}
.gallery_img img{
  width: 100%; /* 이미지를 컨테이너 크기에 맞게 조정 */
  max-width: 190px; /* 원하는 이미지 크기 설정 */
  height: auto; /* 비율 유지하면서 크기 조정 */
}

.gallery_text{
  margin-top: 80px;
  margin-left: 13px;
  padding-bottom: 10px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  display: block;

}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}


/*비디오*/
.video_text{
  margin-top: 30px;
  margin-left: 13px;
  padding-bottom: 10px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  display: block;

}

.video_clip{
  margin: 0 20px 70px 20px;
  display: flex;
  //justify-content: space-between; /* 이미지 간 간격 조정 */
  gap: 10px; /* 이미지 사이의 여백 */
}
.video_clip img{
  width: 100%; /* 이미지를 컨테이너 크기에 맞게 조정 */
  max-width: 190px; /* 원하는 이미지 크기 설정 */
  height: auto; /* 비율 유지하면서 크기 조정 */
}

.unknowImage{
  margin-right: 15px;
  width: 82px;
  height: 82px;
  border-radius: 10px;
}

/*공유버튼 css*/
ion-fab-button::part(native) {
  background-color: #db4a2b;
  border-radius: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: #f1f1f1;
}
ion-fab-button::part(native):hover::after {
  background-color: #d55b41;
}
ion-fab-button::part(native):active::after {
  background-color: #d55b41;
}
