<ion-content>
  <div class="header" style="margin-top: 55px;">
    <h1>{{ user.username }}님이 좋아하는 장르를 골라주세요!</h1>
  </div>
<div class="genre">

  <div *ngFor="let genre of genres">
    <p># {{ genre }}</p>
    <div class="genre-container">
      <div
        class="movie-card"
        *ngFor="let movie of moviesGroupedByGenre[genre]"
        (click)="toggleMovieSelection(movie)"
        [class.selected]="isSelected(movie)"
      >
        <img [src]="movie.posterUrl" alt="{{ movie.title }}" />
        <div class="movie-title">{{ movie.title }}</div>
      </div>
    </div>
  </div>
</div>
  <button (click)="goToShowRecommendedGenre()">선택 완료</button>

</ion-content>
