@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

.movie-grid {
  display: flex;
  flex-wrap: wrap; /* 여러 줄로 나열할 수 있게 함 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  padding: 10px;
}

.movie-item {
  flex: 0 0 100px; /* 포스터 크기 고정 */
  margin-right: 10px; /* 오른쪽 여백 */
  margin-bottom: 15px; /* 아래 여백 */
  margin-top: 10px;
  cursor: pointer; /* 포인터 커서로 변경 */
  text-align: left; /* 제목 왼쪽 정렬 */
}

.movie-poster {
  width: 100px; /* 포스터 이미지 너비 설정 */
  height: 150px;
  object-fit: cover;
  border-radius: 4px; /* 모서리 둥글게 */
}

.movie-title {
  margin-top: 5px; /* 제목과 이미지 간의 여백 */
  font-size: 15px; /* 제목 폰트 크기 조정 */
  white-space: nowrap; /* 제목이 한 줄로 유지되도록 설정 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis; /* 넘치는 내용에 '...' 표시 */
  width: 100px; /* 포스터 너비와 동일하게 설정 */
}

.Number-of-search-results {
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
}

.search {
  margin: 20px;
  display: flex;
  justify-content: center;
}
