<ion-content>
  <!-- 검색 -->
  <div class="searchbar_collection" style="margin-top: 55px;">
    <ion-searchbar
      color="light"
      show-clear-button="never"
      placeholder="찾고 싶은 영화를 검색하세요!"
      (click)="goToSearchPage()"
      style="padding: 0 15px 15px 15px;"
    ></ion-searchbar>
  </div>

  <!-- 프리뷰 -->
  <div class="preview">
    <swiper-container
      class="mySwiper"
      space-between="30"
      centered-slides="true"
      autoplay-delay="2000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide>
        <img
          src="assets/images/kevin.png"
          alt="프리뷰"
          style="object-fit: cover; width: 430px; height: 210px; position: relative;"
        />
        <div class="kevin_text">
          <a class="HOT">🎅HOT🎄</a><br />
          <a class="nows_HOT">크리스마스에 생각나는 영화</a>
        </div>
        <a class="preview_count">1/2</a>
      </swiper-slide>

      <swiper-slide>
        <img
          src="assets/images/harry3.png"
          alt="프리뷰"
          style="object-fit: cover; width: 430px; height: 210px; position: relative;"
        />
        <div class="kevin_text">
          <a class="HOT">🎅HOT🎄</a><br />
          <a class="nows_HOT">"해리포터 정주행, 준비됐어?"</a>
        </div>
        <a class="preview_count">2/2</a>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- 플로팅 챗봇 버튼 -->
<ion-fab *ngIf="chatbotEnabled" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="navigateToChatbotPage()">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <!-- 챗봇 모달 -->
<ion-modal [isOpen]="isChatbotModalOpen" (didDismiss)="closeChatbotModal()" class="chatbot-modal">
  <ion-header>
    <ion-toolbar>
      <ion-title>챗봇</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleChatbotModal()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-modal>


  <!-- 지금 뜨는 코멘트 -->
  <div class="home_comment">
      <p>지금 뜨는 코멘트 💡</p>
<!--      <ion-icon (click)="goToNowsCommentPage()" name="chevron-forward-outline"></ion-icon>-->
      <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      centered-slides="true"
      autoplay-delay="3000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide>
        <ion-card class="comment-card">
          <ion-card-header class="comment-card-header">
            <div class="comment_profile">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="assets/images/unknow.png" />
              </ion-avatar>
              <ion-label>영화덕후</ion-label>
            </div>
          </ion-card-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <img
                alt=""
                src="https://image.cine21.com/resize/cine21/poster/2019/0806/11_33_48__5d48e70c8f222[X230,330].jpg"
              />
            </ion-thumbnail>
            <ion-content>
              <ion-card-title class="now-comment-card-title">
                유열의 음악앨범
              </ion-card-title>
              <div class="comment">
                시대의 공기와 지형을 만든 후 탄탄하게 쌓아올린 감정의 결
              </div>
            </ion-content>
          </ion-item>
        </ion-card>
      </swiper-slide>

      <swiper-slide>
        <ion-card class="comment-card">
          <ion-card-header class="comment-card-header">
            <div class="comment_profile">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="assets/images/unknow.png" />
              </ion-avatar>
              <ion-label>무비러버</ion-label>
            </div>
          </ion-card-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <img
                alt="인사이드 아웃2"
                src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240612_151%2F1718180074487NH0V5_JPEG%2Fmovie_image.jpg"
              />
            </ion-thumbnail>
            <ion-content>
              <ion-card-title class="now-comment-card-title">
                인사이드 아웃2
              </ion-card-title>
              <div class="comment">
                결국 시작은 '잘 해내야한다'는 불안감. 그냥 좀 못합시다, 뭐 어때요
              </div>
            </ion-content>
          </ion-item>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- 영화리스트 -->
  <section
    *ngIf="movieLoadStatus === 'loading'"
    class="movie-state"
    aria-label="영화 목록을 불러오는 중"
  >
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of skeletonItems" size="4">
          <ion-skeleton-text animated class="poster-skeleton"></ion-skeleton-text>
          <ion-skeleton-text animated class="title-skeleton"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section
    *ngIf="movieLoadStatus === 'error'"
    class="movie-state movie-state-message"
    aria-live="polite"
  >
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>{{ movieLoadError }}</p>
    <ion-button fill="outline" (click)="retryMovies()">다시 시도</ion-button>
  </section>

  <section
    *ngIf="movieLoadStatus === 'empty'"
    class="movie-state movie-state-message"
    aria-live="polite"
  >
    <ion-icon name="film-outline"></ion-icon>
    <p>표시할 영화가 없습니다.</p>
  </section>

  <div [class.movie-content-hidden]="movieLoadStatus !== 'success'">
  <div class="movie">
    <p>박스오피스 순위 🏆</p>
    <swiper-container #swiper_cgv>
      <swiper-slide
        *ngFor="let movie of movies; let i = index"
        (click)="goToMovieDetailPage(movie.id)"
      >
        <div class="movie-item">
          <img
            [src]="movie.posterUrl"
            [alt]="movie.title + ' 포스터'"
            class="movie-poster"
            (error)="handlePosterError($event)"
          />
          <div class="rank">{{ i + 1 }}</div>
          <div class="movie_name">{{ movie.title }}</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="recommended-section">
    <div class="recommended-header" >
      <h5 class="recommended-title">추천 영화 🎥</h5>
      <ion-item class="more" (click)="goToRecommendationPage()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-item>
    </div>
    <swiper-container #swiper_recommended>
      <swiper-slide *ngFor="let movie of recommendedMovies" (click)="goToMovieDetailPage(movie.id)">
        <img
          [src]="movie.posterUrl"
          [alt]="movie.title + ' 포스터'"
          class="movie-poster"
          (error)="handlePosterError($event)"
        />
        <div class="movie_name">{{ movie.title }}</div>
      </swiper-slide>
    </swiper-container>
<!--    <ion-item class="more" (click)="goToRecommendationPage()">-->
<!--      <ion-label>다양한 영화를 추천해드릴게요!</ion-label>-->
<!--    </ion-item>-->
  </div>

  <div class="genres">
    <div class="genre" *ngFor="let genre of genres">
      <p># {{ genre }}</p>
      <swiper-container #swiper_genre [slidesPerView]="3">
        <swiper-slide *ngFor="let movie of moviesGroupedByGenre[genre]">
          <div class="movie-items">
            <img
              [src]="movie.posterUrl"
              [alt]="movie.title + ' 포스터'"
              class="movie-poster"
              (error)="handlePosterError($event)"
            >
            <div class="movie_name">{{ movie.title }}</div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
    <div class="movie">
      <p>#판타지</p>
      <swiper-container #swiper_netflix>
        <swiper-slide *ngFor="let movie of movies;" (click)="goToMovieDetailPage(movie.id)">
          <div class="movie-item">
            <img
              [src]="movie.posterUrl"
              [alt]="movie.title + ' 포스터'"
              class="movie-poster"
              (error)="handlePosterError($event)"
            >
            <div class="movie_name">{{ movie.title }}</div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>
