@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

.searchbar_collection {
  padding: 0 15px;
}

.heart-icon {
  font-size: 20px; /* 하트 아이콘 크기 */
  color: red;     /* 진한 회색 */
}

.favorite-count {
  font-size: 14px;
  color: #666;
  margin-left: 5px; /* 하트 아이콘과의 간격 */
}

ion-header {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 58px;
}

.christmas_movie {
  display: flex;
  flex-direction: column; /* 세로 방향으로 쌓이게 설정 */
  margin: 0 20px 40px 20px;
}

.poster-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}

.poster-image {
  width: 120px;
  height: 180px;
  border-radius: 4px;
  object-fit: cover;
}

.details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-row h2 {
  margin: 0;
  font-size: 16px;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
  justify-content: space-between;
}

.arrow-icon {
  margin-left: auto;
  color: #808080;
  font-size: 14px;
}

.unknow-image {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.movie-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alone {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin: 5px;
  border-radius: 8px;
}

.hot {
  font-weight: lighter;
  font-size: 16px;
  font-weight: bold;
  margin-left: 22px;
  color: #ffffff;
  display: inline-block;
  background-color: #db4a2b;
  padding: 3px 3px 3px 7px;
  border-radius: 17px;
  text-align: center;
  text-decoration: none;
}

.popular {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #db4a2b;
  margin-bottom: 10px;
  margin-top: 40px;
}

.likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.likes span {
  font-size: 13px;
  color: #292929;
}

ion-fab-button::part(native) {
  background-color: #db4a2b;
  border-radius: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: #f1f1f1;
}

ion-fab-button::part(native):hover::after {
  background-color: #d55b41;
}

ion-fab-button::part(native):active::after {
  background-color: #d55b41;
}

.christmas_movie .likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.christmas_movie .likes ion-icon {
  font-size: 20px; /* 하트 아이콘 크기 */
  color: #666;     /* 진한 회색 */
}

.christmas_movie .likes span {
  font-size: 14px;
  color: #666;
  margin-left: 5px; /* 하트 아이콘과의 간격 */
}
